.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-categorie {
    font-size: 20px;
    font-weight: bold;
}

.topten-card-container {
    margin-bottom: 2em;
}