.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-category {
  font-size: x-large;
  font-weight: bold;
  margin: 1em 0 1em 1em;
}

.topten-card-container {
  margin-bottom: 2em;
}

.not-enough-data {
  margin-left: 2em;
  background-color: #fff;
  border-radius: 0.25em;
  color: black;
  padding: 0.5em;
}
